*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: oldlace;
}

.Form-table{
   border: 2px solid;
   background-color: cadetblue;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1.3rem;
   padding: 3rem;
   border-radius: 30px;
   box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
}



form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

input[type="text"]{
    background-color: #ffffff;
    color: black;
    padding: 1rem 5.4rem;
    border: 1px solid;
    height: 2rem;
    display: flex;
    align-items: flex-start;
    text-align: start;
    border-radius: 10px;
}

input[type="text"]::placeholder{
   display: flex;
   font-size: 16px;
   justify-self: start;
   justify-content: end;
}

label{
   font-size: 1.4rem;
}

.btn{
    grid-column: span 1;
    background-color: azure;
    border: 2px solid border;
    color: #333;
    padding: 0.7rem 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
}

.btn:hover{
    background-color: gray;
    color: white;
}

.invalid{
    color: red;
}

.block{
    display: block;
}










